
                                                <div class="textarea-wrap">
                                                    <textarea id="comments-form-comment" placeholder="Message" name="comment" tabindex="5"></textarea>
                                                    <div class="grippie"></div>
                                                    <div id="comments-form-buttons">
                                                        <div class="btn" id="comments-form-send">
                                                            <div><a href="#" tabindex="7" onclick="jcomments.saveComment();return false;" title="Send (Ctrl+Enter)">Send</a></div>
                                                        </div>
                                                        <div class="btn" id="comments-form-cancel" style="display:none;">
                                                            <div><a href="#" tabindex="8" onclick="return false;" title="Cancel">Cancel</a></div>
                                                        </div>
                                                        <div style="clear:both;"></div>
                                                    </div>
                                                </div>
                                            