<!-- Formulaire pour les publications                         -->


                        <h3 class="uk-panel-title">Publier</h3>
                        <div class="has-context latest-news-wrap"> 
                            <p>Ajouter votre publication</p>
                        </div>
                        <article class="has-context ">
                              <%= form_tag "/publications", method: "post" do %>
                              <%= label_tag :content %>
                              <%= text_area_tag :content %>
                            <%= submit_tag "Publier" %>
                              <% end %>
                        </article>
                        


                        