<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<br><br><br><br><br><br><br>

<% @publications.each do |publication|%>

<div class="list-group">
  
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= publication.user.first_name%></h5>
      <small class="text-muted"><%= publication.created_at%></small>
    </div>
    <p class="mb-1"><%= publication.content%></p>
    
  </a>

</div>
<% end %>