<div class="tm-top-a-box tm-full-width tm-box-bg-1 ">
        <div class="uk-container uk-container-center">
    <section id="tm-top-a" class="tm-top-a uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
        <div class="uk-width-1-1 uk-row-first">
        <div class="uk-panel">
        <div class="uk-cover-background uk-position-relative head-match-wrap" style="height: 590px; background-image: url('images/head-bg-match.jpg');">
        <img class="uk-invisible" src="/images/head-bg-match.jpg" alt="">
        <div class="uk-position-cover uk-flex-center head-news-title">
        </div>
        </div>
        </div>
        </div>
    </section>
        </div>
        </div>
        <div class="uk-container uk-container-center alt">
            <ul class="uk-breadcrumb">
                <li><a href="/">Home</a></li>
                
            </ul>
        </div>
        <div class="uk-container uk-container-center">
            <div id="tm-middle" class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                <div class="tm-main uk-width-medium-3-4 uk-push-1-4">
                    <main id="tm-content" class="tm-content">
                        <div class="match-list-wrap">
                        <div class="match-list-item">
                          <strong>Date :</strong>
                          <%= @event.start_date.strftime("%d-%m-%Y" ) %>
                        <div class="va-view-wrap">
                        <a class="view-article" href="match-single.html">all events</a>
                        </div>
                        </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>