<link rel="stylesheet" type="text/css" href="/footer.css">
<footer id="footer" class="footer-1">
	<div class="main-footer widgets-dark typo-light">
		<div class="container">
			<div class="row">
	  
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="widget subscribe no-box">
						<h5 class="widget-title">MalagaSport<span></span></h5>
						<p>MalagaSport. Promouvons ensemble le sport à Madagascar.
Le site qui facilite la mise en relation des joueurs de football et ceux des recruteurs dans tout Madagascar, à tout moment.</p></p>
					</div>
				</div>

			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="widget no-box">
				<h5 class="widget-title">Suggestion<span></span></h5>
				<ul class="thumbnail-widget">
				<li>
				<div class="thumb-content"><a href="#.">Ecrivez ici</a></div>
				<input type="text" name=""><br><br>
				<button>Envoyer</button>
				</li>

	</ul>
	</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-3">
	<div class="widget no-box">
	<h5 class="widget-title">Tenez-vous prêt<span></span></h5>
	<p>Accéder à votre passion, au challenge autour du sport</p>
	<a class="btn" href="#." target="_blank">Connectez-vous maintenant</a>
	</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-3">

	<div class="widget no-box">
	<h5 class="widget-title">Contactez-nous<span></span></h5>

	<p><a href="mailto:info@domain.com" title="glorythemes">info@malagasport.com</a></p>
	</div>
	</div>

	</div>
	</div>
	</div>
	  
	<div class="footer-copyright">
	<div class="container">
	<div class="row">
	<div class="col-md-12 text-center">
	<p>Copyright MalagaSport © 2019. All rights reserved.</p>
	</div>
	</div>
	</div>
	</div>
</footer>

